.td-container > div {
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;

  overflow-y: auto;
}

.td-container > div:nth-child(even) {
  background: #bbd8e9;
}

.td-container > div:nth-child(odd) {
  background: #dceaf4;
}

.td-tweet {
  margin-bottom: 1em;
}

.td-tweet-holder {
  transition: all 1s ease-in;
}

.td-column-header {
  position: relative;
}

.td-column-header .icon {
  position: absolute;
  right: 0.5em;
  top: 0;

  opacity: 0;
  transition: opacity 0.2s;
}

.td-column-header:hover .icon {
  opacity: 1;
}
