@import "bootstrap.css";
@import "bootstrap-responsive.css";

.td-container > div {
  border-radius: 4px;
  padding: 1em;

  overflow-y: auto;
}

.td-container > div:nth-child(even) {
  background: #bbd8e9;
}

.td-container > div:nth-child(odd) {
  background: #dceaf4;
}

.td-tweet {
  margin-bottom: 1em;
}
